@*
    View Imports
*@
@model List<Urun>
@*
    View Start
*@
@foreach (var item in Model)
{
    <p>
        @item.Id - @item.Ad - @($"{item.Fiyat:c2}")
    </p>
}
@section Scripts
{
<script>
    App.name = " Kamil";
    console.log(App.selamla());
</script>
}